@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li><a href="javascript:document.getElementById('logoutForm').submit()" class="text-white">تسجيل الخروج</a></li>

    <li>
        @Html.ActionLink("مرحبا بك  " + User.Identity.GetUserName(), "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" ,@class= " text-primary mx-3" })
    </li>

</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right ">
        <li>@Html.ActionLink("اشتراك", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" ,@class= "mx-4 text-white" })</li>
        <li>@Html.ActionLink("تسجيل الدخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "text-white" })</li>
    </ul>
}
